* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    height: 100vh;
}

.home {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr)
}

/* Row 1:- */
.home__carousel {
    grid-column: 1/8;
    grid-row: 1/3;
    position: relative;
}

#home__carousel__nav {
    position: absolute;
    display: flex;
    top: 3rem;
    left: 2.8rem;
}

#home__carousel__nav__links {
    display: flex;
    margin-left: 2rem;
}

#home__carousel__nav li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    color: #fff;
    cursor: pointer;
    position: relative;
}

#home__carousel__nav li:hover::after {
    position: absolute;
    content: '';
    background-color: #fff;
    top: 1.1rem;
    width: 5%;
    height: 2px;
    left: 50%;
    right: 50%;
    animation-name: link_hover;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes link_hover {
    from {width: 5%; left: 50%; right: 50%;}
    to {width: 100%; left: 0%; right: 0%;}
}

.home__text1 {
    grid-column: 8/13;
    grid-row: 1/3;
    height: 100%;
    padding: 15%;
}

#home__text1__heading {
    font-size: 2rem;
    font-weight: 700;
}

#home__text1__para {
    margin-top: 2rem;
    color: #a1a1a1;
    line-height: 20px;
    font-size: 12px;
}

#home__text1__button {
    margin-top: 2rem;
}

#home__text1__button {
    cursor: pointer;
}

#home__text1__button__arrow {
    margin-top: 8px;
    margin-left: 0.6rem;
}

/* ROW 2:- */
.home__about__img1 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.home__about__text {
    grid-column: 4/10;
    grid-row: 3/4;
    display: grid;
    align-items: center;
    max-width: 80%;
    margin: auto;
    justify-content: center;
}

#home__about__heading {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#home__about__para {
    color: #a1a1a1;
    line-height: 20px;
    font-size: 12px;
    margin-top: 0.9rem;
}

.home__about__img2 {
    grid-column: 10/13;
    grid-row: 3/4;
}

#home__hero__img1, #home__about__img1, #home__about__img2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}